body {
    background-color: #0077b6;

}

button {
    background-color: #48cae4;
    
}

.border{ 
    border-style:solid;
    border-color:#000000 ;
    border-width: 3px;
}

.dots-border{
    border-style:dotted;
    border-color:#000000 ;
    border-width: 3px;
}

.dashs-border{
    border-style:dashed;
    border-color:#000000 ;
    border-width: 3px;
}

#food:hover{
    cursor: pointer;
    height: 30px;
    width: 100px;
}

.submit:hover{
    cursor: pointer;
    height: 30px;
    width: 60px;
}

#places:hover{
    cursor: pointer;
    height: 30px;
    width: 110px;
}

#drinks:hover{
    cursor: pointer;
    height: 30px;
    width: 110px;

}

#Goback:hover{
    cursor: pointer;
    height: 30px;
    width: 150px;

}